{% extends 'base.html.twig' %}

{% block title %}Wheather{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <style>
		.jumbotron-container {
			margin-top:15px;
		}
		.form-inline input[type='submit'], .form-inline input[type='text']{
			margin-left: 10px;
		}
		.form {
			background-color: #ccc;
			border-radius: 5px;
			padding: 5px;
			margin-top:15px;
		}

    </style>
{% endblock stylesheets %}

{% block info %}
	{#{% set date = geoip.time_zone.current_time | split(' ') %}
	{% set date_day = date[0] | split('-') %}
	{% set generalPlace = geoip.time_zone.name | split('/') %}
	{% set place = generalPlace[1] %}
	{{dump(place)}}
    <span class="navbar-text"> IP : {{geoip.ip}} - Place : {{geoip.time_zone.name}} - Date : {{date[0]}}</span> #}
{% endblock %}

{% block body %}

     

	<div class="container">
		
		

		<div class="row">
			<div class="col-lg-12">
				{{form_start(weatherForm,{'attr': {'class': 'form'}})}}
					<div class="col-lg-12">
						<legend>{{form_label(weatherForm)}}</legend>
					</div>
					<div class="col-lg-12">
						<div class="typeahead__container">
					        <div class="typeahead__field">
					            <div class="typeahead__query">
					                <!-- <input class="js-typeahead-country_v1" name="country_v1[query]" placeholder="Search" autocomplete="off" type="search"> -->
					                <div class="form-wrapper">

					                	<label for="weather_country">{{form_label(weatherForm.country)}}</label>
										{{form_widget(weatherForm.country,{
					                	'attr':{'data-countries':countries}})}}
					                	<label for="weather_city">{{form_label(weatherForm.city)}}</label>
										{{form_widget(weatherForm.city,{
											'attr': {
												'data-cities': file
										}})}}
									</div>
									<input type="submit" value="submit" class="btn btn-primary submit">
					            </div>
					        </div>
					    </div>
						
					</div>
					<!-- <div class="form-group mb-2">
						<input type="submit" value="submit" class="btn btn-primary submit">
					</div> -->
				{{form_end(weatherForm)}}
			</div>
		</div>
		
		<hr>
		
		{% block weather %}
		    
		{% endblock weather %}
		
		<div class="row">
			<div class="col-xl-12 jumbotron-container">
				<div class="jumbotron">
					<h1 class="display-4">
						Find out about the wheather
					</h1>
					<p class="lead"> This is going to be a simple app that covers most of the basics of the weather apps </p>
					<hr class="my-4">
					<p>This is using the openweather.org platform to extract its data</p>
					<a href="https://openweathermap.org/" class="btn btn-primary btn-lg" target="_blnak">Learn more</a>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript" src="{{asset('/js/autocomplete.js')}}" ></script>

{% endblock javascripts %}