{% extends 'base.html.twig' %}

{% block title %}Wheather{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <style>
		.jumbotron-container {
			margin-top:15px;
		}
		.form-inline input[type='submit'], .form-inline input[type='text']{
			margin-left: 10px;
		}
		.form {
			background-color: #ccc;
			border-radius: 5px;
			padding: 5px;
			margin-top:15px;
		}

		.news {
			margin: 0 auto;
		}

		.card-img-top {
			max-height: 350px;
    		overflow:hidden;
		}
		.lead {
			margin-bottom: 10px;
		}
		.news-section {
			margin-bottom: 10px;
			color: #fff;
			/*background-color: #5a6268;*/
			border-color: #545b62;
			text-align: center;
		}
    </style>
{% endblock stylesheets %}

{% block info %}
	{#{% set date = geoip.time_zone.current_time | split(' ') %}
	{% set date_day = date[0] | split('-') %}
	{% set generalPlace = geoip.time_zone.name | split('/') %}
	{% set place = generalPlace[1] %}
	{{dump(place)}}#}
    <span class="navbar-text"> News Section is Powered by News API</span> 
{% endblock %}

{% block body %}

     

	<div class="container">
		
		

		<div class="row">
			<div class="col-lg-12">
				{{form_start(weatherForm,{'attr': {'class': 'form'}})}}
					<div class="col-lg-12">
						<legend>{{form_label(weatherForm)}}</legend>
					</div>
					<div class="col-lg-12">
						<div class="typeahead__container">
					        <div class="typeahead__field">
					            <div class="typeahead__query">
					                <div class="form-wrapper">

					                	<label for="weather_country">{{form_label(weatherForm.country)}}</label>
										{{form_widget(weatherForm.country,{
					                	'attr':{'data-countries':countries}})}}
					                	<label for="weather_city">{{form_label(weatherForm.city)}}</label>
										{{form_widget(weatherForm.city,{
											'attr': {
												'data-cities': file
										}})}}
									</div>
									<input type="submit" value="submit" class="btn btn-primary submit">
					            </div>
					        </div>
					    </div>
						
					</div>
				{{form_end(weatherForm)}}
			</div>
		</div>
		
		<hr>
		
		{% block weather %}
		    
		{% endblock weather %}

		

		<div class="row">

			<div class="news-section col-lg-12">
				<section>
				    <h1>Latest TechCrunch News</h1>
				</section>
			</div>
			<div class="col-md-8 news">
				<div id="blogCarousel" class="carousel slide" data-ride="carousel">
					<div class="col-xs-12 text-md-right lead">
		                <a class="btn btn-secondary prev" href="" title="Previous Article"><i class="fa fa-lg fa-chevron-left"></i> Previous</a>
		                <a class="btn btn-secondary next" href="" title="Next Article">Next <i class="fa fa-lg fa-chevron-right"></i></a>
		            </div>
					<div class="carousel-inner">
						{% for key,article in news.articles %}
				    		{% if loop.index0 == 0 %}
				    			<div class="carousel-item active">
				    		{% else %}
				    		    <div class="carousel-item">
				    		{% endif %}
				    			<div class="row">
								    <div class="card">
									  <img class="card-img-top" src="{{article.urlToImage}}" alt="article_image">
									  <div class="card-body">
									    <h5 class="card-title">{{article.title}}</h5>
									    <h6 class="card-subtitle mb-2 text-muted">Author: {{article.author}}</h6>
									    <p>{{article.description}}</p>
									    <h6 class="card-subtitle mb-2 text-muted">Published At: {{article.publishedAt}}</h6>
									    <a href="{{article.url}}" class="btn btn-primary" target="_blnak">Read Article</a>
									  </div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 jumbotron-container">
				<div class="jumbotron">
					<h1 class="display-4">
						Find out about the wheather
					</h1>
					<p class="lead"> This is going to be a simple app that covers most of the basics of the weather apps </p>
					<hr class="my-4">
					<p>This is using the openweather.org platform to extract its data</p>
					<a href="https://openweathermap.org/" class="btn btn-primary btn-lg" target="_blnak">Learn more</a>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript" src="{{asset('/js/autocomplete.js')}}" ></script>
	<script type="text/javascript" src="{{asset('js/OwlCarousel/dist/owl.carousel.js')}}"></script>

	<script>
        $(document).ready(function(){
            $('#blogCarousel').carousel({
                interval: 15000
            });

			$('.next').click(function(){ $('#blogCarousel').carousel('next');return false; });
			$('.prev').click(function(){ $('#blogCarousel').carousel('prev');return false; });
    
        });
    </script>
{% endblock javascripts %}